<body data-new-gr-c-s-check-loaded="14.1037.0" data-gr-ext-installed="">

   
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <p><span class="display-4">International Space Station Current Location Is </span></p>
            <hr>
            <p><span class="display-3">latitude : </span><span class="display-4">{{dataLa}}</span></p>
            <p><span class="display-3">longitude : </span><span class="display-4">{{dataLo}}</span></p>
            <p>This is a simple api to return the current location of the ISS. It returns the current latitude and longitude of the space station with a unix timestamp for the time the location was valid. This API takes no inputs..</p>
            <br> 
            <p><a class="btn btn-primary btn-lg" (click)="openPopUp()"  role="button">Open Pop-Up</a></p>
          </div>
        </div>
  
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">          
          </div>  
          <hr>

        </div> <!-- /container -->
  
      </main>

  
</body>